 <table>
    <tr>
      <th>Name</th>
      <th>Skill</th>
      <th>Years</th>
      <th>Formal?</th>
    </tr>
 
    <tr>
      <td><% @user.name %></td>
      <% @user.skills.each do |skill| %>
        <td><%= skill.name %>(<%= skill.context %>)</td>
        <td><%= skill.proficiencies.first.years %> </td>
        <td><%= skill.proficienciencies.first.formal %> </td>
      <% end %>
    </tr>

  </table>
</div>
